.layout-story

  .content
    max-width: none
    text-align: center
    padding-left: 0
    padding-right: 0

    p, .tags
      display: block
      clear: both
      max-width: 50rem
      margin: 1em auto

    blockquote p
      max-width: none

.wide
  &, & img
    max-width: none
    width: 100%
