.site-footer
  @extend .container
  @extend small
  border-top: 1px solid $border-gray
  nav
    ul
      margin: 0
    li
      display: inline-block
      padding: 0 1em 0 0
      a
        color: $light-gray
        &:hover
          text-decoration: none
          color: lighten($blue, 10%)
        &:before
          display: none
