.site-header
  .top-bar
    height: 92px
    padding: 10px 0
    background: white
    .logo
      float: left
      display: block
      margin: 0
      height: 72px
      width: 72px
      @media only screen and (min-width: $break-medium)
        margin-right: .5rem
    h1, p
      font-size: 1.25em
      line-height: 1.1em
      font-weight: light
      color: #777
    h1
      padding-top: .25em
      font-weight: bold
      color: #3f2c22
    p
      font-size: 1em
      @media only screen and (max-width: $break-small)
        font-size: .75em
  nav
    border-top: 1px solid $border-gray
    border-bottom: 1px solid mix($border-gray, $background)
    text-align: center
    ul
      display: inline-block
      margin: 0 auto
      @media only screen and (min-width: $break-large)
        &.left-nav
          width: auto
          position: absolute
          z-index: 2
          left: 0
    li
      display: inline-block
      padding: 0.25em 0
      a
        color: $light-gray
        padding: 0 1em
        font-size: .8em
        &:hover
          color: lighten($blue, 10%)
        @media only screen and (max-width: $break-large)
          padding: 0 .35em
          span
            display: none
      @media only screen and (min-width: $break-large)
        &.nav-home a
          &:before
            color: lighten($light-gray, 20%)
          &:hover:before
            color: lighten($blue, 10%)
          span
            display: none
