---
blog: 'Family'
per_page: 2
pageable: true
---

%section
  - if page_articles.any?
    %ul.list-simple
      - page_articles.each_with_index do |article, i|
        %li= partial "shared/post_index", locals: { article: article, body: true }
  - else
    %p Sorry, no articles yet

= partial "shared/pagination", locals: {num_pages: num_pages, page_number: page_number, next_page: next_page, prev_page: prev_page} if paginate
