<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showAudioButton="false"
	showInfoButton="false"
	showNavButtons="false"
	showAutoPlayButton="true"
	backButtonPosition="NONE"
	backButtonUseIcon="true"
	galleryTitlePosition="OVERLAY"
	showThumbPagingText="true"
	maxThumbColumns="8"
	enableDirectLinks="true"
	useFullscreenExpand="true"
	captionPosition="NONE"
	galleryTitle="Kumon Awards"
	enableLooping="true"
	imageTransitionType="CROSS_FADE"
	imagePreloading="NEXT"
	thumbsPosition="BOTTOM"
	showImageNumber="false"
	buttonBarPosition="OVERLAY_IMAGE"
	enableAutoPlay="true"
	showExpandButton="true"
	showThumbsButton="true"
	showOpenButton="false"
	autoPlayOnLoad="true"
	showSmallThumbsOnLoad="false"
	showThumbsOnLoad="false"
	randomizeImages="true"

>
  <image imageURL="/portfolio/images/2013-05-20-kumon-medals-0.jpg"
	thumbURL="/portfolio/thumbs/2013-05-20-kumon-medals-0.jpg"
	linkURL="/portfolio/images/2013-05-20-kumon-medals-0.jpg"
	linkTarget="_blank">
    <title><![CDATA[2013-05-20 | Kumon medals (0)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="/portfolio/images/2013-05-20-kumon-medals-2.jpg"
	thumbURL="/portfolio/thumbs/2013-05-20-kumon-medals-2.jpg"
	linkURL="/portfolio/images/2013-05-20-kumon-medals-2.jpg"
	linkTarget="_blank">
    <title><![CDATA[2013-05-20 | Kumon medals (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="/portfolio/images/2013-05-20-kumon-medals-3.jpg"
	thumbURL="/portfolio/thumbs/2013-05-20-kumon-medals-3.jpg"
	linkURL="/portfolio/images/2013-05-20-kumon-medals-3.jpg"
	linkTarget="_blank">
    <title><![CDATA[2013-05-20 | Kumon medals (3)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="/portfolio/images/2013-05-20-kumon-medals-4.jpg"
	thumbURL="/portfolio/thumbs/2013-05-20-kumon-medals-4.jpg"
	linkURL="/portfolio/images/2013-05-20-kumon-medals-4.jpg"
	linkTarget="_blank">
    <title><![CDATA[2013-05-20 | Kumon medals (4)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="/portfolio/images/2013-05-20-kumon-medals-0.jpg"
	thumbURL="/portfolio/thumbs/2013-05-20-kumon-medals-0.jpg"
	linkURL="/portfolio/images/2013-05-20-kumon-medals-0.jpg"
	linkTarget="_blank">
    <title><![CDATA[2013-05-20 | Kumon medals (0)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>