.title
  %h1 Portolio

%script{src: "/portfolio/jbcore/juicebox.js"}
:javascript
  new juicebox({
  	containerId : 'juicebox-container',
  	configUrl: '/portfolio/config.xml',
  	galleryWidth: '100%',
  	galleryHeight: '100%',
  	backgroundColor: '#222222'
  });
#juicebox-container
  %noscript
    / Image gallery content for non-javascript devices
    %h1 Portfolio
    %p Gallery Description
    %p
      %img{alt: "Image", src: "/portfolio/images/1.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/2.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/3.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/4.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/5.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/6.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/7.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/8.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/9.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/10.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/11.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/12.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/13.jpg", title: "five"}/
    %p
      %img{alt: "Image", src: "/portfolio/images/14.jpg", title: "five"}/
