%header.site-header{role: "navigation"}
  .top-bar
    = link_to "/", class: "container" do
      = image_tag "apple-touch-icon-72.png", class: "logo"
      %h1 Andrew Eick
      %p Head in the clouds, feet in the dirt.
  %nav= partial "shared/nav_list"

