%head
  %meta{charset: "utf-8"}
  %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
  %meta{name: "description", content: ""}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %title= current_page.data.title || "Andrew Eick"

  = javascript_include_tag "application", "data-turbolinks-track" => true
  = stylesheet_link_tag "application", media: "all"

  %link{href: "/images/favicon.ico", rel: "icon"}
  %link{rel: "apple-touch-icon-precomposed", href: image_path("apple-touch-icon-57.png")}
  %link{rel: "apple-touch-icon-precomposed", href: image_path("apple-touch-icon-72.png"), sizes: "72x72"}
  %link{rel: "apple-touch-icon-precomposed", href: image_path("apple-touch-icon-114.png"), sizes: "114x114"}
  %link{rel: "apple-touch-icon-precomposed", href: image_path("apple-touch-icon-144.png"), sizes: "144x144"}
