--- 
layout: post
title: My Dots for Saturday, March 17, 2007
date: 2007-03-18
published: true
meta: {}

tags: 
- work
type: post
categories: 
- bookmarks
- work
status: publish
---
<div class="bluedot"><div style="clear: both"><div class="bluedotLink">[**Using Server Side Comments with ASP.NET 2.0**](http://bluedot.us/Out.ashx?u=http://weblogs.asp.net/scottgu/archive/2006/07/09/Tip_2F00_Trick_3A00_-Using-Server-Side-Comments-with-ASP.NET-2.0-.aspx&d=80160794605&t=asp.net,css,javascript,ScottGu&ls=blogexp)</div><div class="bluedotImage" style="float: left">[![](http://i.bluedot.us/01/db/d0ac/439a12c0/b241e7b2a3b3651ea5_5.jpg)](http://bluedot.us/Out.ashx?u=http://weblogs.asp.net/scottgu/archive/2006/07/09/Tip_2F00_Trick_3A00_-Using-Server-Side-Comments-with-ASP.NET-2.0-.aspx&d=80160794605&t=asp.net,css,javascript,ScottGu&ls=blogexp)</div><div class="bluedotNote">{% blockquote %}

Quoted: Problem You are coding away on an ASP.NET page, and are trying to isolate a problem within the page. You have some existing html/controls/markup/in-line code that is being used on the page, and you want to temporarily comment it out while you fix the

{% endblockquote %}</div>

[tags: [css](http://bluedot.us/users/aeick/tag/css), [javascript](http://bluedot.us/users/aeick/tag/javascript), [ScottGu](http://bluedot.us/users/aeick/tag/ScottGu)]

</div><div style="clear: both"><div class="bluedotLink">[**Blue Dot releases features for Bloggers and Video Viewing and More**](http://bluedot.us/Out.ashx?u=http://bluedot.blogspot.com/2007/03/blue-dot-releases-features-for-bloggers.html&d=80096460000&t=blogs&ls=blogexp)</div><div class="bluedotNote">{% blockquote %}

Quoted: We've been rolling out some new features over the last couple of weeks. In case you hadn't noticed, I'd like to highlight a few for you: Full Size Video Player - You can now watch full sized videos without leaving Blue Dot. Just click on the player image of the dot you want to view, and a player will automatically pop up.Save to Favorites - Many users

{% endblockquote %}</div>

[tags: [blogs](http://bluedot.us/users/aeick/tag/blogs)]

</div>

[See the rest of my Dots at Blue Dot](http://bluedot.us/users/aeick)

</div>
