--- 
layout: post
title: Waterpark day with friends from michigan
date: 2009-08-17
published: true
meta: {}

tags: 
- family
type: post
categories: 
- family
status: publish
---
{% blockquote %}



<div>

[![](http://media.eick.us/2011/05/photo.jpg.scaled.500.jpg)](http://posterous.com/getfile/files.posterous.com/andreweick/LszYDZCISqSLejAc5eoH5pJ54c5GeWfzgrZxKPPYCKuaaez2IqTK5WEidHkt/photo.jpg) 





</div>{% endblockquote %}&lt;!--  

  [Posted via email](http://posterous.com)   from [Andrew Eick's posterous](http://andreweick.posterous.com/waterpark-day-with-friends-from-michigan)  

    --&gt;
