RewriteEngine on
Redirect 301 /files http://media.eick.us
RewriteCond "%{HTTP_HOST}_%{HTTP_REFERER}" "!\.?([^\.]+\.[^\.]+?)_https?://.*\1/.*$"
RewriteRule fonts/ss-.*$ - [F,NC,L]

ErrorDocument 404 /404/index.html
