---
pageable: true
per_page: 10
---

%section.intro
  %h2 Greeting greeting greeting
  %p I wasn't sure how you wanted to introduce the site, but this is a nice looking place to do that. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

%section.latest-posts
  %h2 Latest
  %ul.blog-list
    - ["Family", "Snapshot", "History"].each do |name|
      %li
        = link_to name, "/#{name.downcase}", class: "section-title"
        %article
          - article =  blog(name).articles.first()
          %time= article.date.strftime('%b ') + article.date.strftime('%e').to_i.ordinalize
          %h2= link_to article.title, article
